$font-proxima: "proxima-nova",sans-serif;
$text-color-dark: #434343;

$section-map: (
    potent-potables: #1ab6ff,
    oneletter-words: #599684,
    words-that-rhyme-with-dog: #df2ca5,
    drummers-named-ringo: #b07837,
    colors-that-are-red: #2bca23
);

$section-color: '';
@mixin section-color() {
    @each $section, $section-color in $section-map {
        $section-color: #{$section-color} !global;
        &[data-section="#{$section}"] {
            @content;
        }
    }
}

body {
    background: #252525;
    font-family: $font-proxima;
}

.container {
    width: 1400px;
}

a:hover {
    text-decoration: none;
}

.schedule-actions {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__view {
        > * {
            display: inline-block;
        }
        &__button {
            border: 1px solid;
            color: #fff;
            padding: 5px;
            text-transform: uppercase;
            &:hover {
                color: #fff;
            }
        }
    }
    &__filters {
        span,
        ul {
            display: inline-block;
        }
        ul {
            padding-left: 0;
        }
        li {
            border: 1px solid;
            display: inline-block;
            margin: 0 5px;
            padding: 2px 5px;
        }
    }
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover {
    border-color: #4d4d4d;
}

.fc-view-container {
    border: 1px solid #4d4d4d;
}

.fc-unthemed .fc-widget-header {
    background: #000;
    border: none;
    border-bottom: 1px solid #4d4d4d;
    color: #fff;
}

// divider between resources and times
.fc-timeline .fc-divider {
    display: none;
}

.fc-time-area .fc-slats .fc-major,
.fc-time-area .fc-slats .fc-minor {
    background: #000;
    border-left: #000;
}

.fc-time-area .fc-slats .fc-major--even,
.fc-time-area .fc-slats .fc-minor--colored {
    background: #333;
    border-left: #333;
}

.fc-time-area .fc-slats .fc-widget-content:nth-child( 3n + 1 ) {
    border-left: 1px solid #4d4d4d;
}

.fc-timeline-event {
    .fc-widget-content {
        position: relative;
    }
    .fc-content {
        font-size: 12px;
        white-space: normal;
    }
    .fc-callout {
        background: #ebebeb;
        color: #000;
        font-size: 10px;
        font-weight: normal;
        height: 15px;
        padding: 2px 5px;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: -19px;
        -webkit-font-smoothing: antialiased;
    }
    .fc-section {
        display: block;
        text-transform: uppercase;
    }
    .fc-title {
        display: block;
        margin: 2px 0;
    }
    .fc-duration {
        display: block;
        font-weight: normal;
    }
    .fc-meta {
        border-top: 1px solid #e5e5e5;
        bottom: 0;
        box-sizing: border-box;
        font-size: 10px;
        left: 0;
        padding: 2px 5px;
        position: absolute;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            color: #000;
        }
    }
    @include section-color() {
        border-top: 3px solid $section-color;
        .fc-section {
            color: $section-color;
        }
    }
    &.fc-event-past {
        background: lighten( #ababab, 20% );
        border-top: 3px solid darken( #ababab, 20% );
        .fc-section,
        .fc-title,
        .fc-duration {
            color: #a8a8a8;
        }
    }
}

.fc-content .fc-widget-content > div,
.fc-rows .fc-widget-content > div,
.fc-rows .fc-event-container {
    height: 150px !important;
}

.fc-event-container {
    padding-bottom: 0 !important;
    > a {
        background: #fff;
        box-sizing: border-box;
        font-size: 15px;
        font-weight: bold;
        height: calc( 100% - 20px );
        padding: 15px;
        top: 20px !important;
    }
    a,
    a:hover {
        color: $text-color-dark;
    }
}

.fc-resource-area tr[data-resource-id='howard-gilman-theater'] {
    background: url('./images/howard-gilman.jpg');
}
.fc-resource-area tr[data-resource-id='francesca-beale-theater'] {
    background: url('./images/francesca-beale.jpg');
}
.fc-resource-area tr[data-resource-id='amphitheater'] {
    background: url('./images/amphitheater.jpg');
}

.fc-resource-area tr[data-resource-id]:not(:empty) {
    background-size: cover;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    .fc-cell-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
    }
}