$text-color-dark: #434343;

body {
    background: #252525;
}
.container {
    width: 1400px;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover {
    border-color: #4d4d4d;
}

.fc-view-container {
    border: 1px solid #4d4d4d;
}

.fc-unthemed .fc-widget-header {
    background: #000;
    border: none;
    border-bottom: 1px solid #4d4d4d;
    color: #fff;
}

// divider between resources and times
.fc-timeline .fc-divider {
    display: none;
}

.fc-time-area .fc-slats .fc-major,
.fc-time-area .fc-slats .fc-minor {
    background: #000;
    border-left: #000;
}

.fc-time-area .fc-slats .fc-major--even,
.fc-time-area .fc-slats .fc-minor--colored {
    background: #333;
    border-left: #333;
}

.fc-time-area .fc-slats .fc-widget-content:nth-child( 3n + 1 ) {
    border-left: 1px solid #4d4d4d;
}

.fc-timeline-event {
    .fc-widget-content {
        position: relative;
    }
    .fc-content {
        font-size: 12px;
        white-space: normal;
    }
    .fc-callout {
        background: #ddd;
        color: #000;
        font-size: 10px;
        font-weight: normal;
        height: 15px;
        padding: 2px 5px;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: -19px;
        -webkit-font-smoothing: antialiased;
    }
    .fc-section {
        display: block;
        text-transform: uppercase;
    }
    .fc-title {
        display: block;
        margin: 2px 0;
    }
    .fc-duration {
        display: block;
        font-weight: normal;
    }
    .fc-meta {
        border-top: 1px solid #e5e5e5;
        bottom: 0;
        box-sizing: border-box;
        font-size: 10px;
        left: 0;
        padding: 2px 5px;
        position: absolute;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            color: #000;
        }
    }
    &[data-section="potent-potables"] {
        border-top: 3px solid #1ab6ff;
        .fc-section {
            color: #1ab6ff;
        }
    }
    &[data-section="oneletter-words"] {
        border-top: 3px solid #599684;
        .fc-section {
            color: #599684;
        }
    }
    &[data-section="words-that-rhyme-with-dog"] {
        border-top: 3px solid #df2ca5;
        .fc-section {
            color: #df2ca5;
        }
    }
    &[data-section="drummers-named-ringo"] {
        border-top: 3px solid #b07837;
        .fc-section {
            color: #b07837;
        }
    }
    &[data-section="colors-that-are-red"] {
        border-top: 3px solid #2bca23;
        .fc-section {
            color: #2bca23;
        }
    }
    &.fc-event-past {
        background: lighten( #ababab, 20% );
        border-top: 3px solid darken( #ababab, 20% );
        .fc-title {
            opacity: 0.25;
        }
    }
}

.fc-content .fc-widget-content > div,
.fc-rows .fc-widget-content > div,
.fc-rows .fc-event-container {
    height: 150px !important;
}

.fc-event-container {
    padding-bottom: 0 !important;
    > a {
        background: #fff;
        box-sizing: border-box;
        font-size: 15px;
        font-weight: bold;
        height: calc( 100% - 20px );
        padding: 15px;
        top: 20px !important;
    }
    a,
    a:hover {
        color: $text-color-dark;
    }
}

.fc-resource-area tr[data-resource-id='howard-gilman-theater'] {
    background: url('./images/howard-gilman.jpg');
}
.fc-resource-area tr[data-resource-id='francesca-beale-theater'] {
    background: url('./images/francesca-beale.jpg');
}
.fc-resource-area tr[data-resource-id='amphitheater'] {
    background: url('./images/amphitheater.jpg');
}

.fc-resource-area tr[data-resource-id]:not(:empty) {
    background-size: cover;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    .fc-cell-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
    }
}