$section-map: (
    potent-potables: #b07837,
    oneletter-words: #599684,
    words-that-rhyme-with-dog: #df2ca5,
    drummers-named-ringo: #1ab6ff,
    colors-that-are-red: #2bca23
);

$section-color: '';
@mixin section-loop {
    @each $section, $section-color in $section-map {
        $section-color: #{$section-color} !global;
        &[data-section="#{$section}"] {
            @content;
        }
    }
}
