$section-map: (
    main-slate: #b07837,
    convergence: #599684,
    projections: #df2ca5,
    special-events: #1ab6ff,
    explorations: #2bca23,
    revivals: #eeeaaa,
    retrospectives: #B7652A,
    spotlight-on-documentary: #67E3F0
);

$section-color: '';
@mixin section-loop {
    @each $section, $section-color in $section-map {
        $section-color: #{$section-color} !global;
        &[data-section="#{$section}"] {
            @content;
        }
    }
}
